
<%= render :partial => 'cocktails/banner' %>

<div class="container text-center" id="summary">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

  <h1 class="index-title">All Cocktails</h1>

      <div class="row">


          <% @cocktails.each do |cocktail| %>
          <div class="col-sm-6 col-md-4">
            <div class="cocktail">

              <div class="cocktail-hover">
                <%= link_to cocktail_path(cocktail) do %>
                  <i class="fas fa-glass-martini"></i>
                  <p>View Ingredients </p>
                <% end %>
              </div>

              <div class="cocktail-details">
                <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
              </div>
            </div>
          </div>
          <% end %>

      </div>

      </div>
    </div>
  </div>

