.navbar-cocktail {
  box-shadow: 0 2px 0px $turquoise;
  background: $lightred;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-search {
  padding-right: 10px;
}

.logo-link {
  color: white;
  opacity: 1;
  &:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
  }
}

.menu_icon {
  height: 60px;
  width: 60px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box h3 {
  padding-left: 5px;
  margin-top: 5px;
  margin-bottom: 0px;
}
