.navbar-cocktail {
  box-shadow: 0 3px 0px $turquoise;
  background: $beige;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-link {
  color: $darkred;
  opacity: 1;
  &:hover {
  text-decoration: none;
  opacity: 0.8;
  color: $red;
  }
}

.menu_icon {
  height: 40px;
  width: 40px;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box h3 {
  padding-left: 10px;
}
