.cocktail-info {
  background: white;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 4px 4px 0px $lightred;
}

.cocktail {
  background-size: cover;
  color: white;
  height: 180px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 4px 4px 0px $lightred;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.2s;
}

.cocktail h2 {
  color: white !important;
  opacity: 0.9;
  text-shadow: 1px 1px 10px black;
}

.divider {
  margin-right: 80px;
}

.cocktail-hover {
  background-color: rgba(255,255,255, 1);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  padding: 30px;
  opacity: 0;
  transition: 0.5s;
  color: $turquoise;
}

.cocktail-hover i {
  font-size: 40px;
  color: $lightred;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hover-link p {
  text-decoration: none;
  cursor: pointer;
}

.cocktail:hover .cocktail-hover {
  opacity: 0.9;
  cursor: pointer;
}

.cocktail:hover h2 {
  opacity: 0;
}

.cocktail-img {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
}

