.dose-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}

.dose-title-small {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
}

.dose-list i {
  padding-left: 10px;
}

.dose-form {
  width: 75%;
}
